.container{
    background-color: burlywood;
    height: 1500px;
}
div{
    height: 100px;
    width: 100px;
    background-color: rgb(37, 9, 9);
}
#first{
    background-color: rgb(107, 21, 21);
    position: relative;
    left: 300px;
}
#second{
    background-color: rgb(12, 3, 128);
    position: absolute;
    left: 200px;
}
#third{
    background-color: rgb(5, 39, 38);
    position: fixed;
    left: 110px;
}
.zone{
    background-color: orangered;
    
}
h1{
    text-align: center;
    background-color: paleturquoise;
    color: palevioletred;
    font-size: 40px;
}
.write{
    color: pink;
    background-color: rgb(123, 55, 187);
}
#pen{
    color: sienna;
    font-size: 30px;
}
h2{
    color: springgreen !important;
    text-align: center;
}