.box:hover{
    background-color: blueviolet;
}
h1{
    color: brown;
    background-color: burlywood;
    font-size: 20px;
}
.special{
    color: chartreuse;
    background-color: darkkhaki;
    font-size: 70px
}
input:focus{
    color: darkred;
}
li:nth-child(2n){
    background-color: darkslategray;
    color: deeppink;
}
a:visited{
    color: rgb(3, 3, 95);
}