.box:hover{
    background-color: blueviolet;
}
h1{
    color: brown;
    background-color: burlywood;
    font-size: 20px;
}
.special{
    color: chartreuse;
    background-color: darkkhaki;
    font-size: 70px
}
input:focus{
    color: darkred;
}
li:nth-of-type(2n){
    background-color: darkslategray;
    color: red;
}
a:visited{
    color: rgb(3, 3, 95);
}
.special::after{
    content: "Bye";
    background-color: blueviolet;
    color: crimson;

}
li::before{
    content: "BYE";
    color: springgreen;
    background-color: steelblue;
}
body{
    counter-reset: section;
}
p::before{
    counter-increment: section;
    content: "Friend" counter(section) ": ";
}
