.box{
    width:100px;
    height: 100px;
    border: 1px solid rgb(177, 54, 23);
    
}
.box:hover{
    box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.outer{
    background-color: cadetblue;
}
.inner{
    background-color: chocolate;
    transform: scale(.75) rotate(20deg) translate(50px);
    
}
.outer:hover{
    border-radius: 50%;
}
.box2{
    width: 100px;
    height: 100px;
    border: 1px solid salmon;
}
section{
    height: 200px;
    padding-bottom: 150px;
}
